@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

h1,
h3 {
  font-family: "Inter";
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(0, 100vh);
  grid-template-columns: 1fr 100vh 1fr;
  grid-template-areas: "navigation content definition";
}

.navigation {
  grid-area: navigation;
  padding: 15px;
  /* border-right: solid 1px #ddd; */
}

.content {
  grid-area: content;
}

.definition {
  grid-area: definition;
  /* border-left: solid 1px #ddd; */
  overflow-y: auto;
}

.definition h3.ant-typography {
  padding: 15px;
  /* border-bottom: solid 1px #ddd; */
  margin-bottom: 0;
}

#svg-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

#svg {
  height: 100%;
}

/* SVG elements style */

div.tooltip {
  display: none;
  position: absolute;
  text-align: center;
  padding: 5px;
  background-color: #000;
  color: #fff;
}

div.highlighted.tooltip {
  display: block;
}

g.edge line {
  stroke: #000;
  opacity: 0.05;
}

g.node path {
  fill: #20a4f3;
  stroke: #fff;
}

g.highlighted.edge line {
  opacity: 0.5;
}

g.highlighted.node path {
  transform: scale(2);
}

g.selected.node path {
  transform: scale(2);
}

g.selected.edge line {
  opacity: 0.5;
}

g.selected-endpoints.edge line {
  stroke: red;
}
