body {
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 100vh 1fr;
  grid-template-areas: "navigation content filters";
}

.navigation {
  grid-area: navigation;
  padding: 0 15px;
  border-right: solid 1px #ddd;
}

.content {
  grid-area: content;
}

.filters {
  grid-area: filters;
  padding: 15px;
  border-left: solid 1px #ddd;
}

#svg-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

#svg {
  height: 100%;
}
